:host {
  width: 100%;
  display: flex;
}

.snackbar {
  &__label {
    flex-grow: 1;
  }

  &__button {
    all: unset;
    background: transparent;
    cursor: pointer;
    color: #fff;
    opacity: 0.5;
  }
}
