:host {
  width: 80%;
  max-width: 275px;
  margin-bottom: 7%;
}

.auth-sign-in__form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {
    width: auto;
    height: auto;
    max-width: 157px;
    margin: 20px 20px 30px;
  }

  &-input,
  &__submit {
    width: 100%;
  }

  &__submit {
    margin: 40px 0 15px;
    min-height: 50px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 40px;
      height: 1px;
      right: 0;
      top: 50%;
      transition: 0.3s;
      transform: translateY(-50%);
      background: var(--color-primary);
    }

    &:hover::after,
    &:focus::after,
    &:active::after {
      width: 0px;
    }
  }

  &__label {
    display: block;
    cursor: pointer;

    text-align: center;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    user-select: none;

    font-size: 10px;
    font-weight: 200;

    line-height: 170%; /* 17px */
    letter-spacing: 0.8px;

    opacity: 0.5;
    transition: 0.3s;

    &:hover {
      opacity: 1;
    }
  }
}

:host > img {
  padding: 30px 60px 60px 60px;
  width: auto;
  height: auto;
}
