<img
  src="/assets/svg/logo.svg"
  alt="Comduty Logo"
  width="275px"
  height="52px"
/>
<comduty-form [formGroup]="signInForm" [title]="'Войти'" (handler)="signIn()">
  <label for="login">Логин</label>
  <input
    type="text"
    autocomplete="off"
    id="login"
    formControlName="login"
    placeholder="Логин"
  />
  <label for="password">Пароль</label>
  <input
    type="password"
    autocomplete="off"
    id="password"
    formControlName="password"
    placeholder="Пароль"
  />
</comduty-form>
<span>Я не помню логин или пароль</span>
