<form
  class="auth-sign-in-recover__form"
  [formGroup]="recoverForm"
  (ngSubmit)="recover()"
>
  <span class="auth-sign-in-recover__close" (click)="close()">
    <mat-icon aria-hidden="false" aria-label="close">close</mat-icon>
  </span>
  <mat-form-field class="auth-sign-in-recover__form-input">
    <mat-label>Электронная почта</mat-label>
    <input matInput formControlName="email" required />
  </mat-form-field>
  <button mat-stroked-button class="auth-sign-in-recover__form__submit">
    Восстановить
  </button>
</form>
