:host {
  position: relative;
}

.auth-sign-in-recover {
  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      color: var(--color-primary);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background: var(--color-background);
    border-radius: 10px;
    box-shadow: 0px 4px 13.2px 0px #a47047;

    &-input {
      margin-bottom: 20px;
    }

    &__submit {
      min-height: 50px;

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 40px;
        height: 1px;
        right: 0;
        top: 50%;
        transition: 0.3s;
        transform: translateY(-50%);
        background: var(--color-primary);
      }

      &:hover::after,
      &:focus::after,
      &:active::after {
        width: 0px;
      }
    }
  }
}
