@import './_vars.css';

input {
  all: unset;

  padding: 8px 12px;
  border-bottom: 1px solid var(--color-primary-05);

  background: transparent;
  color: var(--color-content);
  text-align: center;

  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-family: var(--font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}

input,
input::placeholder,
button::after {
  transition: 0.3s;
}

input::placeholder {
  color: var(--color-content);
  opacity: 0.5;
}

input:focus {
  border-color: var(--color-primary);
}

input:focus::placeholder {
  opacity: 0;
}

input:not(:last-child) {
  margin-bottom: 30px;
}

button {
  all: unset;

  text-align: center;
  padding: 16px;

  position: relative;
  cursor: pointer;

  border-radius: 7px;
  border: 1px solid var(--color-primary);

  text-align: center;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-family: var(--font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 23.8px */
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

button::after {
  display: block;
  position: absolute;
  width: 30px;
  height: 1px;
  background: var(--color-primary);
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  content: '';
}

button:hover::after,
button:focus::after,
button:active::after {
  width: 0px;
}
