@import "./_vars";

mat-label {
  color: var(--color-content);
  opacity: 0.5;

  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}

.mat-mdc-outlined-button:not(:disabled) {
  color: var(--color-content) !important;
  text-align: center;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  font-weight: 300;
  line-height: 170%; /* 23.8px */
  letter-spacing: 1.4px;
  text-transform: uppercase;

  --mdc-outlined-button-outline-color: var(--color-primary);
}

.mat-mdc-form-field-required-marker {
  display: none !important;
}

.mdc-snackbar {
  margin-right: 30px !important;
  margin-bottom: 30px !important;

  @media screen and (max-width: 600px) {
    margin: 8px !important;
  }
}

.mdc-snackbar__label {
  text-shadow: 0px 4px 9.4px rgba(0, 0, 0, 0.25);
  font-size: 14px !important;
  font-weight: 300 !important;
  line-height: 24px !important; /* 150% */
  letter-spacing: 0.5px !important;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: rgba(220, 191, 157, 0.5) !important;
  border-left: 2px solid var(--color-primary);
  border-radius: 0px !important;
}
