$commu-primary-palette: (
  50: #fef3dc,
  100: #fcdfa8,
  200: #facb6d,
  300: #f7b62d,
  400: #f5a600,
  500: #f59600,
  600: #f28a00,
  700: #ed7a00,
  800: #e86900,
  900: #e14d00,
  contrast: (
    50: rgba(white, 0.87),
    100: rgba(white, 0.87),
    200: rgba(white, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
  )
);

$commu-secondary-palette: (
  50: #fee8e6,
  100: #ffc9b7,
  200: #ffa689,
  300: #ff815a,
  400: #ff6334,
  500: #ff4205,
  600: #ff3c00,
  700: #f13400,
  800: #e32a00,
  900: #cc1300,
  contrast: (
    50: rgba(white, 0.87),
    100: rgba(white, 0.87),
    200: rgba(white, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
  )
);
