:root {
  --color-content: #fff;
  --color-primary: #facc6d;
  --color-primary-05: rgba(250, 204, 109, 0.5);
  --color-primary-light: #dcbf9d;
  --color-primary-dark: #dc9665;
  --font: 'Lato', sans-serif;
}
